<main>
    <img [src]="rickModel().image">
    <br>
    <a>Id: {{rickModel().id}}</a>
    <br>
    <a>Nome: {{rickModel().name}}</a>
    <br>
    <a>Espécie: {{rickModel().species}}</a>
    <br>
    <a>Status: {{rickModel().status}}</a>
    <br>
    <p>Página publicada no github-pages e consultando uma API remota</p>
    <br>
    <p>Se você está vendo as informações acimas preenchidas conforme <a href="https://rickandmortyapi.com/documentation/#get-a-single-character">este endereço</a> quer dizer que funcionou e é isso que importa.</p>
</main>